form{
	width: 100%;
	display: flex;flex-direction: row;justify-content: space-evenly;
}

h2, h3, p{
	margin: 0;
}


.btn {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 0;
	font-size: 1.5rem;
	text-align: center;
	color:black;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}
.btn:hover {
	text-decoration: none;
	background-color: #a6bae3;
}

html { width: 100%; height:100%; overflow:hidden; }

body {
	display: flex;
	justify-content: center;
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
}
.login { 
	position: absolute;
	/* top: 40%;
	left: 50%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 70%; 
	height: 2.5rem;
	background: rgba(232, 226, 226, 0.3);
	padding: 10px;
	font-size: 1.5rem;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	transition: box-shadow .8s ease;
}
input:focus {box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.frase{
	/* width: 100%; */
	font-size: 1.5rem;
	color: rgb(11, 80, 11);
	margin: 1rem 0;
	padding: 1rem;
	font-weight: 600;
}
.div_frase{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 1px solid #092756;
	background-color: rgb(189, 216, 189);
	border-radius: 5px;
	font-size: 1.5rem;
	color: rgb(11, 80, 11);
	margin: 1rem 0;
	padding: 1rem;
	font-weight: 600;
}
.respuesta{
	width: 100%;
	border: 1px solid grey;
	background-color: #fff;
	border-radius: 5px;
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	color: #092756;
	margin: 1.5rem 0 ;
	padding: 1rem;
}
.feel{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
/* Clase para ocultar elementos */
.hide {
	display: none;
 }
 
 /* Clase para mostrar elementos */
 .show {
	display: flex;
 }
 
 .i.em-expressionless {
	font-size: 4rem; /* Puedes ajustar el valor (por ejemplo, 24px) según tus preferencias */
 }
 
 .emoji{
	width: 100%;
	margin: 1.5rem;
	align-items: center;
 }